<div class="page-header">
  <h3>Userprofile #<%= @userprofile.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @userprofile.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/userprofiles" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @userprofile.user %>
        <a href="/userprofiles/<%= @userprofile.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_userprofile/<%= @userprofile.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Userprofile has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @userprofile.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Userprofile has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @userprofile.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
