<!-- Validation failure messages -->
<% if @response.errors.any? %>
  <% @response.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Response #<%= @response.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_response/<%= @response.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"><%= @response.content %></textarea>
      </div>

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <%= select_tag(:owner_id, options_from_collection_for_select(Ownerprofile.all, :id, :owner_id, @response.owner_id), :class => "form-control") %>
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <%= select_tag(:review_id, options_from_collection_for_select(Review.all, :id, :created_at, @response.review_id), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <input type="text" id="restaurant_id" name="restaurant_id" placeholder="Restaurant" class="form-control" value="<%= @response.restaurant_id %>">
      </div>

      <button class="btn btn-warning">
        Update Response
      </button>
      or
      <a href="/responses/<%= @response.id %>">Cancel</a>
    </form>
  </div>
</div>
