<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Content</dt>
      <dd><%= @review.content %></dd>

      <dt>Photos</dt>
      <dd><img src="<%= @review.photos %>" class="img-responsive"></dd>

      <dt>First name</dt>
      <dd><%= @review.first_name %></dd>

      <dt>Last initial</dt>
      <dd><%= @review.last_initial %></dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @review.restaurant.present? %>
          <a href="/restaurants/<%= @review.restaurant_id %>">
            <%= @review.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Userprofile</dt>
      <dd>
        <% if @review.userprofile.present? %>
          <a href="/userprofiles/<%= @review.userprofile_id %>">
            <%= @review.userprofile.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Review has many responses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Responses
      </li>

      <% @review.responses.each do |response| %>
        <li class="list-group-item">
          <a href="/responses/<%= response.id %>">
            <%= response.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/responses/<%= response.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/responses/<%= response.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_response/<%= response.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_response" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <%= select_tag(:owner_id, options_from_collection_for_select(Ownerprofile.all, :id, :owner_id), :class => "form-control") %>
      </div>

      <!-- Label and input for review_id -->
      <input type="hidden" name="review_id" value="<%= @review.id %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Response
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
